@model IEnumerable<_net_integrador.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

@if (TempData["Exito"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Exito"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Lista de Inmuebles</h1>
</div>

<p>
    <a class="btn btn-success" asp-action="Agregar">Agregar Inmueble</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Propietario</th>
            <th>Dirección</th>
            <th>Uso</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.id</td>
                <td>@i.propietario?.NombreCompleto</td>
                <td>@i.direccion</td>
                <td>@i.uso</td>
                <td>@i.tipoInmueble?.tipo</td>
                @*<td>@i.precio.ToString("C")</td>-->*@
                <td>@(i.precio.HasValue ? $"${i.precio.Value:0.00}" : "Sin precio")</td>
                <td>@(i.estado == 1 ? "Disponible" : "Suspendido")</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = i.id }, new { @class = "btn btn-primary btn-sm" })
                    @if (i.estado == 1)
                    {
                        @Html.ActionLink(
                            "Suspender",
                            "Suspender",
                            new { id = i.id },
                            new { @class = "btn btn-warning btn-sm", onclick = "return confirm('¿Seguro que querés suspender este inmueble?');" })
                    }
                    else
                    {
                        @Html.ActionLink(
                            "Activar",
                            "Activar",
                            new { id = i.id },
                            new { @class = "btn btn-success btn-sm", onclick = "return confirm('¿Seguro que querés activar este inmueble?');" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>