@model IEnumerable<_net_integrador.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<div class="text-center">
    <h1 class="display-4">Lista de Contratos</h1>
</div>

<p>
    <a class="btn btn-success" asp-action="Agregar">Agregar Contrato</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Monto Mensual</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.id</td>
                <td>@c.Inquilino.nombre @c.Inquilino.apellido</td>
                <td>@c.Inmueble.direccion</td>
                <td>@c.monto_mensual.ToString("C")</td>
                <td>@c.fecha_inicio.ToShortDateString()</td>
                <td>@c.fecha_fin.ToShortDateString()</td>
                <td>
                    @if (c.estado == 1)
                    {
                        <span class="badge bg-success">Activo</span>
                    }
                    else if (c.estado == 2)
                    {
                        <span class="badge bg-warning text-dark">Finalizado</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Terminado</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = c.id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Detalles", "Detalles", new { id = c.id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Renovar", "Renovar", new { id = c.id }, new { @class = "btn btn-danger btn-sm" })

                    @if (c.estado == 1)
                    {
                        @Html.ActionLink("Terminar Anticipado", "TerminarAnticipado", new { id = c.id }, new { @class = "btn btn-warning btn-sm" })
                    }
                    @Html.ActionLink("Pagos", "Renovar", new { id = c.id }, new { @class = "btn btn-danger btn-sm" })

                </td>
            </tr>
        }
    </tbody>
</table>
